@import "/src/styles/colors.scss";

.root {
  text-align: start;
  padding: 8px 12px;
  background-color: $grey0;
  font-size: 14px;
}

.root:first-child {
  border-top-left-radius: 8px;
}

.root:last-child {
  border-top-right-radius: 8px;
}
