@import "/src/styles/colors.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: url("../../../public/background.jpeg");
  height: 100vh;

  .login {
    border: 1px solid $grey10;
    box-shadow: 2px 2px 1px 1px $grey20, 0px 0px 1px 1px $grey20;
    padding: 20px 40px;
    border-radius: 12px;
    width: 320px;
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .form {
      .roles {
        .rolesOptions {
          display: flex;
          gap: 16px;
          padding-bottom: 12px;
          .role {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 6px;
            padding-bottom: 6px;
          }
        }
      }
    }
  }
}
