@import "/src/styles/colors.scss";
.root {
  padding: 20px 40px;
  width: 380px;

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .inputContainer {
    padding: 10px 20px;
    max-height: 300px;
    overflow: scroll;

    .input {
      display: flex;
      gap: 4px;
    }
  }

  .buttonContainer {
    display: flex;
    gap: 12px;
    width: 100%;
  }
}
