$blue0: rgba(219, 219, 238, 0.5);
$blue10: #0052cc;
$blue20: #170368;

$white: #ffffff;
$grey0: rgb(232, 232, 232, 0.5);
$grey10: rgb(211, 209, 209);
$grey20: rgb(46, 45, 45);

$textPlaceholder: #939393;
$textLabel: #eeeeee;
$textDefault: #0b0b0b;
